<div ng-hide="createOrUpdate">
<h3>User Groups<span class="small pull-right"><button class="btn btn-link btn-xs" ng-click="addGroup()">
    <i class="glyphicon glyphicon-plus"></i></button></span></h3>
<hr/>
<div class="alert alert-info" ng-show="groups.length == 0">No Groups found</div>
    <table class="table table-bordered table-striped" ng-show="groups.length > 0">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in groups | orderBy:predicate">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
                <span class="label label-info" ng-repeat="role in item.roles">
                    {{role.name}} <a href="" class="glyphicon glyphicon-remove" ng-click="removeRoleFromGroup(item.id, role.id)"></a>
                </span>
            </td>
            <td>
                <button class="btn btn-xs btn-danger"
                        ng-click="remove(item.id)"><i class="glyphicon glyphicon-remove"></i>
                </button>
                <button class="btn btn-xs btn-link"
                        ng-click="addRole(item.id)"><i class="glyphicon glyphicon-plus-sign"></i> 添加角色
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="well well-sm" ng-show="createOrUpdate">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>添加组</legend>

            <div class="form-group">
                <div class="alert alert-danger" ng-show="error">{{errorMessage}}</div>
            </div>

            <div class="form-group">
                <div class=" col-md-9 col-md-offset-3">
                    <input class="form-control" type="hidden" ng-model="group.id" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">名称</label>

                <div class=" col-md-9">
                    <input class="form-control" type="text" ng-model="group.name" placeholder="名称"
                           required min="2">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-9">
                    <button type="button" class="btn btn-primary"
                            ng-disabled="!group.name || !group.role" ng-hide="edit"
                            ng-click="create(group)">添加
                    </button>
                    <button type="button" class="btn" ng-click="reset()">取消</button>
                </div>
            </div>
        </fieldset>
    </form>
</div><!-- /.modal -->

<div class="well well-sm" ng-show="roleAdd">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>添加组</legend>
            <div class="form-group">
                <label class="control-label  col-md-3">角色</label>
                <input type="hidden" ng-model="group_id">
                <div class="col-md-9">
                    <select class="form-control"
                            ng-model="group_role_id"
                            ng-options="role.id as role.name group by role.type for role in roles"
                            >
                        <option value="">-- 请选择 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-9">
                    <button type="button" class="btn btn-primary"
                            ng-disabled="!group_id || !group_role_id"
                            ng-click="addRoleToGroup(group_id, group_role_id)">添加
                    </button>
                    <button type="button" class="btn" ng-click="reset()">取消</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>