<div content-for="title">
    <span>我的订单</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div class="btn-group justified nav-tabs">
            <a
                toggle="on"
                active-class="active"
                class="btn btn-default" href="#quickQuery">
                快速查询
            </a>
            <a
                toggle="on"
                active-class="active"
                class="btn btn-default" href="#query">
                查询
            </a>
        </div>

        <div class="tab-content">
            <div class="tab-pane"
                 toggleable
                 active-class="active"
                 id="query"
                 exclusion-group="myOrder">

                <form class="form-horizontal">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-lg-1 col-md-2 col-sm-3 col-xs-4">状态</label>

                                <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
                                    <select class="form-control"
                                            ng-model="status"
                                            ng-options="s for s in statusList">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-1 col-md-2 col-sm-3 col-xs-4">起始日期</label>

                                <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" ng-model="from"
                                               max-date="to"
                                               is-open="fromOpened" datepicker-popup="{{format}}"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-1 col-md-2 col-sm-3 col-xs-4">截止日期</label>

                                <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" ng-model="to"
                                               min-date="from"
                                               is-open="toOpened" datepicker-popup="{{format}}"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8 col-lg-offset-1 col-md-offset-2 col-sm-offset-3 col-xs-offset-4">
                                    <input type="button" class="btn btn-primary" ng-click="queryOrder()" value="查询">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane"
                 toggleable
                 active-class="active"
                 default="active"
                 id="quickQuery"
                 exclusion-group="myOrder">

                <div class="panel panel-default" id="quickQuery">
                    <div class="panel-heading">
                        <div class="btn-group btn-group-justified btn-group-sm">
                            <label ng-repeat="s in statusList" ng-click="currentOrders(s)" class="btn btn-default"
                                   uncheckable ng-model="type">{{s|orderStatus}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <alert type="warning" ng-show="results.length == 0">
                    没有订单！
                </alert>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-success" ng-repeat="order in results">
                        <div class="panel-heading">
                            <a class="small" toggle target="collapse{{order.id}}">
                                订单号:{{order.order_number}}
                            </a>
                            <span class="small pull-right">订单状态: {{order.order_status}}</span>
                        </div>
                        <div id="collapse{{order.id}}" toggleable active-class="in" exclusion-group="accordion1"
                             class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="">
                                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                                        <label class="control-label small">配送费:</label>
                                        <label class="form-control-static">{{order.delivery_fee}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-7 col-xs-7">
                                        <label class="control-label small">商家名称:</label>
                                        <label class="form-control-static">{{order.merchant.name}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                                        <label class="control-label small">订单价格:</label>
                                        <label class="form-control-static">{{order.total_price}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-7 col-xs-7">
                                        <label class="control-label small">下单时间:</label>
                                        <label class="form-control-static">{{order.submit_time |date:'yyyy-MM-dd HH:mm'}}</label>
                                    </div>
                                    <div>
                                        <div class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                            <label class="control-label small">收货地址:</label>
                                        </div>
                                        <label class="form-control-static">{{order.contact.address}}</label>
                                    </div>
                                </div>
                                <table class="table table-responsive table-bordered small">
                                    <thead>
                                    <tr>
                                        <td>菜品</td>
                                        <td>数量</td>
                                        <td>价格</td>
                                        <td>小计</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in order.purchase_items">
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.number}}</td>
                                        <td>{{item.product.price}}</td>
                                        <td>{{item.number * item.product.price}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





