<div content-for="title">
    <span>修改密码</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <form class="form-horizontal" method="post" name="form" ng-submit="changePassword()" ng-hide="success">

            <div class="panel">
                <div class="panel-body">
                    <alert type='success' ng-show="success">密码修改成功！</alert>
                    <alert type='danger' ng-show="error">密码修改失败！</alert>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':(form.oldPassword.$dirty && form.oldPassword.$valid), 'has-error':(form.oldPassword.$dirty && form.oldPassword.$invalid)}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input  name="oldPassword"
                                    class="form-control" type="password" placeholder="原密码" required
                                    ng-model="oldPassword"  ng-minlength=8 ng-maxlength=50>
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.oldPassword.$dirty && form.oldPassword.$valid"/>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.oldPassword.$dirty && form.oldPassword.$invalid"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':(form.password.$dirty && form.password.$valid), 'has-error':(form.password.$dirty && form.password.$invalid)}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="password"
                                    class="form-control" type="password" placeholder="新密码" required
                                    ng-model="password"  ng-minlength=8 ng-maxlength=50>
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.password.$dirty && form.password.$valid"/>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.password.$dirty && form.password.$invalid"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success':(form.confirmPassword.$dirty && password === confirmPassword), 'has-error':(form.confirmPassword.$dirty && password !== confirmPassword)}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="confirmPassword"
                                    class="form-control" type="password" placeholder="确认密码"
                                   required ng-model="confirmPassword" ng-minlength=8 ng-maxlength=50>
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$valid"/>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" ng-disabled="!oldPassword || !password || !confirmPassword" class="btn btn-primary btn-sm" value="修改密码">
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
