<div class="">

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group btn-group-sm">
            <a ng-click="findOrderOrdered()" class="btn btn-primary">需要通知商家的订单</a>
            <a ng-click="findOrderNotified()" class="btn btn-primary">需要安排骑士的订单</a>
            <a ng-click="findOrderDelivered()" class="btn btn-primary">骑士未取的订单</a>
            <a ng-click="findOrderOnTheWay()" class="btn btn-primary">正在配送的订单</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="well well-sm" ng-show="showAssign">
            <form class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group form-group-sm">
                        <label class="control-label small">订单号: </label>
                        <label class="form-control-static small">{{order.order_number}}</label>
                    </div>
                    <div class="form-group form-group-sm">
                        <select class="form-control small" ng-model="cavalier_user_id"
                                ng-options="c.user.id as (c.user.email + '(处理中:' + c.handling_count + ', 未处理:' + c.need_handle_count + ' )') for c in cavaliers">
                            <option value=""> -- 请选择 --</option>
                        </select>
                    </div>
                    <div>
                        <button ng-click="confirmAssign(order.id)" class="btn btn-primary btn-xs">确认指派</button>
                        <button ng-click="cancelAssign()" class="btn btn-default btn-xs">取消</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <alert type="warning" ng-show="results.length == 0">
            没有该类型订单！
        </alert>
        <accordion close-others="true" ng-hide="showAssign">
            <accordion-group ng-repeat="order in results">
                <accordion-heading class="success">
                    订单号:{{order.order_number}}<span class="small"> [ 订单状态: {{order.order_status}} ]</span>
                    <button ng-click="assignDelivery(order)" class="btn btn-primary btn-xs pull-right" ng-hide="type == 'ORDERED'">分派任务</button>
                </accordion-heading>
                <div class="well well-sm" ng-if="type == 'ORDERED'">
                    <form class="form-horizontal" role="form">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-lg-2 col-md-2">附加信息</label>
                            <div class="col-lg-10 col-md-10">
                                <textarea ng-model="order.addition_info" class="form-control" rows=3>

                                </textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
                                <input type="submit" class="btn btn-primary btn-sm" ng-click="sendToMerchant(order.id)" value="确认发送">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="well">
                    <div class="col-lg-2 col-md-2 control-label">
                        配置费
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {{order.delivery_fee}}
                    </div>
                    <div class="col-lg-2 col-md-2 control-label">
                        商家名称
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {{order.merchant.name}}
                    </div>
                    <div class="col-lg-2 col-md-2 control-label">
                        订单价格
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {{order.total_price}}
                    </div>
                    <div class="col-lg-2 col-md-2 control-label">
                        下单时间
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {{order.submit_time}}
                    </div>
                    <div class="col-lg-2 col-md-2 control-label">
                        收货地址
                    </div>
                    <div class="col-lg-10 col-md-10">
                        {{order.contact.address}}
                    </div>
                    <div class="col-lg-2 col-md-2 control-label">
                        附加信息
                    </div>
                    <div class="col-lg-10 col-md-10">
                        {{order.addition_info}}
                    </div>
                </div>

                <div class="panel-body">
                    <table class="table table-responsive table-bordered small">
                        <thead>
                        <tr>
                            <td>菜品</td>
                            <td>数量</td>
                            <td>价格</td>
                            <td>小计</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in order.purchase_items">
                            <td>{{item.product.name}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.product.price}}</td>
                            <td>{{item.number * item.product.price}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </accordion-group>
        </accordion>

    </div>
</div>
