<div class="well well-sm" ng-show="createOrUpdate">
    <form class="form-horizontal">
        <fieldset>
            <legend class="modal-title" ng-show="!edit">添加商品</legend>
            <legend class="modal-title" ng-show="edit">修改商品</legend>

            <input class="form-control" ng-model="product.id" type="hidden">
            <div class="form-group">
                <label class="control-label col-lg-3 col-md-3">菜品名称</label>
                <div class=" col-lg-9 col-md-9">
                    <input class="form-control" ng-model="product.name" type="text"  placeholder="商品名称">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3 col-md-3">菜品价格</label>
                <div class=" col-lg-9 col-md-9">
                    <input class="form-control" type="text" ng-model="product.price" placeholder="商品价格" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-3 col-md-3">菜品图片</label>
                <div class=" col-lg-9 col-md-9">
                    <input class="form-control" type="text" ng-model="product.logo" placeholder="商品图片" required min="4">
                </div>
            </div>


            <div class="form-group">
                <div class=" col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
                    <input class="btn btn-primary" value="添加" type="submit" ng-click="create(product)" ng-if="!edit">
                    <input class="btn btn-primary" value="保存" type="submit" ng-click="update(product.id, product)" ng-if="edit">

                    <input class="btn btn-default" value="取消" type="reset" ng-click="reset()">
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="panel panel-default" ng-hide="createOrUpdate">
    <div class="panel-heading">
        <div class="btn-group btn-group-sm">
            <a href="#!!!/admin/merchant/{{merchantId}}/comments" class="btn btn-link btn-xs">查看商家评论</a>
            <a href="#!!!/admin/merchants" class="btn btn-link btn-xs">返回</a>
        </div>
        <span class="small pull-right"><a ng-click="addProduct()" class="btn btn-link btn-xs"><i class="glyphicon glyphicon-plus-sign"></i>添加</a></span>
    </div>
    <div class="panel-body">
        <alert type="warning" ng-show="products.length == 0">
            没有评论！
        </alert>

        <div class="prod-item" ng-repeat="item in products | orderBy:predicate">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-if="isAuthorized('MERCHANT','ADMIN')" ng-click="removeProduct(item.id)">&times;</button>

            <img class="img-thumbnail prod-item-img pull-left " src="{{item.logo}}" ng-show="item.logo"/>
            <div class="">
                <span class="pull-left splitter">{{item.name}}</span>
                <div class="pull-right">
                    <div class="right">
                        <span class=""><strong>&yen {{item.price}}</strong></span>
                        <span class="btn btn-link btn-sm" ng-click="editProduct(item)"><strong>编辑</strong></span>
                        <span class="btn btn-link btn-sm" ng-click="removeProduct(item.id)"><strong>删除</strong></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
